:root{
  --allHeaderHeight: 100%;
  --statusBarMainHeight: unset;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body>[uib-modal-window]:not([modal-render]) {
  display: none;
}

.cursor-pointer,
.link,
.btn {
  cursor: $custom-range-track-cursor;
}

// * {
//   border: .5px dashed rgba(deeppink,.5);
// }